.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.postimg.cc/BvcMyYSp/resort-vacation-landscape-travel-blue.jpg");
    background-size: cover;
    
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  .lInput{
    height: 30px;
    padding: 10px;
margin-top: 10px
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }

  #ss{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    margin-top: 150px; 
    background-color: rgba(0, 0, 0, 0.299);
    margin: auto auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    height: 350px;
}



a{
  margin-left: 103px;
  margin-top: -49px;
}

#dd{
  display: flex;
  text-decoration: none;
  color: aliceblue;
  justify-content: center;
  padding: 10px;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto auto;
  background-color: rgba(0, 0, 0, 0.299);
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}